<!-- override this file -->
<!-- 鼠标特效 -->
<!-- <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
var a_idx = 0;
jQuery(document).ready(function($) {
    $("body").click(function(e) {
        var a = new Array("SRE运维博客", "AWS", "kubernetes", "prometheus", "blog", "docker", "jenkins", "zabbix", "eks", "kvm", "故障集");
        var $i = $("<span />").text(a[a_idx]);
        a_idx = (a_idx + 1) % a.length;
        var x = e.pageX,
        y = e.pageY;
        function randomColor() {
          var flakeColor = new Array("#2d0c13", "#815c94", "#144a74", "#126e82", "#bec936", "#b7ae8f", "#826b48", "#954416", "#f43e06", "#482522");
          var snowColor = flakeColor[Math.floor(flakeColor.length * Math.random())];
          return snowColor;
        }
        $i.css({
            "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
            "top": y - 20,
            "left": x,
            "position": "absolute",
            "font-weight": "bold",
            "color": randomColor()
        });
        $("body").append($i);
        $i.animate({
            "top": y - 180,
            "opacity": 0
        },
        1500,
        function() {
            $i.remove();
        });
    });
});
</script> -->

<!--顶部阅读进度条-->
<!--
<script type="text/javascript">
$(document).ready(function () {
  $(window).scroll(function(){
    $(".top-scroll-bar").attr("style", "width: " + ($(this).scrollTop() / ($(document).height() - $(this).height()) * 100) + "%; display: block;");
  });
})
</script>
-->

<!--在用户切换网页时改变浏览器标题-->
<script type="text/javascript">
 var OriginTitle = document.title;
 document.addEventListener('visibilitychange', function () {
     if (document.hidden) {
         document.title = 'SRE运维博客欢迎你回来哦_(:з」∠)_';
     }
     else {
         document.title = OriginTitle;
     }
 });
</script>

<!--<script src="{{ "js/instantpage.min.js" | absURL }}" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script> -->

<!-- start webpushr tracking code -->
<script>(function(w,d, s, id) {if(typeof(w.webpushr)!=='undefined') return;w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.src = "{{ "" | absURL }}";
fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));
webpushr('init','BKikRogH2hDWxoFo9FQ16mK3NMVWoTdVwI5roUWbdM6iMz-WLqmGScrLDdhV2MkUdBISZWjJBpd9CQdp5qgSMDY');</script>
<!-- end webpushr tracking code -->

<!-- 过渡动画 -->
<!--
<script>
$(window).on("load", function () {
        $('#preloader').fadeOut('slow', function () {
                $(this).remove();
        });
});
</script>
-->
