<!--广告栏目 
<div class="wrapper__left" class="round" style="left: 2px" data-pad="true" dir="ltr">
  <div class="join-us" style="height: 50px;background-image: linear-gradient(to left,#26A69A,#44bd93,#26A69A);">
       <div class="text" style=" text-align:center;font-size: 1.5rem;line-height: 50px;font-style: normal; color: #fff;">
         广而告之 </div>
    </a>
    </p>
  </div> 
  <div class="join-us" style="margin-top: 10px;height: 470px;background-image: linear-gradient(to left,#44bd93,#26a678);">
    <img class="modalImage" src="https://cdn.jsdelivr.net/gh/yangchuansheng/imghosting@three/img/20210411233552.png" alt="icon">
    <p style="color: #fff ">KubeSphere 愿景是打造一个以 Kubernetes 为内核的云原生分布式操作系统，它的架构可以非常方便地使第三方应用与云原生生态组件进行即插即用（plug-and-play）的集成，支持云原生应用在多云与多集群的统一分发和运维管理。</p>
    <img class="modalImage" style="max-width: 90%" src="https://cdn.jsdelivr.net/gh/yangchuansheng/imghosting@three/img/20210412004915.png" alt="icon">
    <p style="height: 38px;text-align: center;background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.1) 97%),linear-gradient(to bottom,#242e42,#242e42);border-radius: 28px;color: white;padding-top: 6px;font-size: 18px;position: absolute;margin: auto;left: 20%;right: 20%;bottom: 5.6%;">
    <a href="https://kubesphere.com.cn/" target="_blank">
    了解详情
    </a>
    </p>
  </div>
-->
<!--     
     <div class="join-us" style="top: 500px">
       <img class="modalImage" src="https://cdn.jsdelivr.net/gh/yangchuansheng/imghosting@three/img/modal-content.svg" alt="icon">
       <h2>欢迎加入</h2>
       <p>扫码加入微信群，和云原生大佬们一起探讨云原生和不可描述的事情！</p>
       <div>
         <div class="slack">
           <img style="width: 70px" src="https://cdn.jsdelivr.net/gh/yangchuansheng/imghosting@three/img/20210411173306.png">
           <p>
             <a href="https://t.me/gsealyun" target="_blank">
               加入 Telegram
             </a>
           </p>
         </div>
         <div class="wechat">
           <img style="width: 100px" src="https://cdn.jsdelivr.net/gh/yangchuansheng/imghosting/img/20200430221955.png">
           <p style="color: black">扫码加入微信群</p>
          
        </div>
      -->