{{ define "main" }}
<header class="header basicflex-column">
  <h3 class="h3 terms__title">
    {{ .Title }}
  </h3>
</header>
<script>
  var remark_config = {
    host: 'https://www.cnsre.cn',
    site_id: 'SRE运维博客',
	locale:"zh",components:["last-comments"]
  };
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
<main class="main">
<div class="remark42__last-comments" data-max="50"></div>
</main>

{{ end }}