{{ if $.Param "enableBio" }}
<section class="bio" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
  {{ if ($.Param "enableBioImage" | default true) }}
  <hr class="hr-slash bio-hr"/>
  <div class="bio__photo-wrapper">
    {{ $src := "" }}
    {{ if site.Params.useGravatar }}
      {{ $src = printf "https://s.gravatar.com/avatar/%s?s=200" (md5 ($.Param "email")) }}
      <img src="{{ $src }}" alt="{{ $.Param "myname" | default "Avatar" }}" class="bio__photo" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}"/>
    {{ else }}
      {{ if $.Param "bioImageUrl" }}
        <img data-src="{{ $.Param "bioImageUrl" }}" alt="{{ $.Param "myname" | default "Avatar" }}" src="data:image/svg+xml;base64,[BASE64_ENCODED_SVG_PLACEHOLDER]" class="lazyload bio__photo" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}"/>
      {{ else if (fileExists "static/images/whoami/avatar.png") }}
        <img data-src="{{ "/images/whoami/avatar.png" | relURL }}" alt="{{ $.Param "myname" | default "Avatar" }}" src="data:image/svg+xml;base64,[BASE64_ENCODED_SVG_PLACEHOLDER]" class="lazyload bio__photo" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}"/>
      {{ else if (fileExists "static/images/whoami/avatar.jpg") }}
        <img data-src="{{ "/images/whoami/avatar.jpg" | relURL }}" alt="{{ $.Param "myname" | default "Avatar" }}" src="data:image/svg+xml;base64,[BASE64_ENCODED_SVG_PLACEHOLDER]" class="lazyload bio__photo" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}"/>
      {{ else if (fileExists "static/images/whoami/avatar.svg") }}
        <img data-src="{{ "/images/whoami/avatar.svg" | relURL }}" alt="{{ $.Param "myname" | default "Avatar" }}" src="data:image/svg+xml;base64,[BASE64_ENCODED_SVG_PLACEHOLDER]" class="lazyload bio__photo" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}"/>
      {{ else }}
        <img data-src="{{ "/images/whoami/avatar.jpg" | relURL }}" alt="{{ $.Param "myname" | default "Avatar" }}" src="data:image/svg+xml;base64,[BASE64_ENCODED_SVG_PLACEHOLDER]" class="lazyload bio__photo" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}"/>
      {{ end }}
    {{ end }}
  </div>
  {{ end }}

  <div>
    <div>网易云热评</div>
    <div class="bio__desc"><p id="content"></p></div>
    <div><span id="song"></span></div>
    <div class="bio__desc">来自 @<span id="user"></span></div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function getHotComment() {
            $.ajax({
                type: "GET",
                url: "https://tenapi.cn/v2/comment",
                dataType: "json",
                scriptCharset: 'utf-8',
                success: function (data) {
                    var v = data.data.comment.replace(/n/g, "<br>");
                    $('#content').html(v);
                    $('#user').text(data.data.name);
                    $('#song').text(data.data.songs);
                },
            });
        }
        getHotComment();
    </script>
  </div>

  <hr class="hr-slash bio-hr"/>
  <div class="bio__name">{{ $.Param "myname" }}</div>
  <div class="bio__desc">{{ $.Param "whoami" }}</div>

  {{ if $.Param "organization" }}
  <div class="bio__info">
    <div class="bio__info--icon">
      {{ partial "svgs/etc/people.svg" (dict "width" 20 "height" 20) }}
    </div>
    {{ $.Param "organization" }}
  </div>
  {{ end }}

  {{ if $.Param "location" }}
  <div class="bio__info">
    <div class="bio__info--icon">
      {{ partial "svgs/etc/location.svg" (dict "width" 20 "height" 20) }}
    </div>
    {{ $.Param "location" }}
  </div>
  {{ end }}

  {{ if $.Param "email" }}
  <div class="bio__info">
    <div class="bio__info--icon">
      {{ partial "svgs/social/email.svg" (dict "width" 20 "height" 20) }}
    </div>
    <a href="mailto:{{ $.Param "email" }}">{{ $.Param "email" }}</a>
  </div>
  {{ end }}

  {{ if $.Param "link" }}
  <div class="bio__info">
    <div class="bio__info--icon">
      {{ partial "svgs/etc/link.svg" (dict "width" 20 "height" 20) }}
    </div>
    <a href="{{ $.Param "link" }}" target="_blank">{{ $.Param "link" }}</a>
  </div>
  {{ end }}
</section>
{{ end }}